force-app/main/default/flows/Account_Create_Opportunity_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <constants>
        <name>recordid</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>OpenOppCheck</name>
        <label>OpenOppCheck</label>
        <locationX>776</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenOpp.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetOpenOpp.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpenOpp.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpenOpp.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenOpp</targetReference>
            </connector>
            <label>Open Opp Exists</label>
        </rules>
        <rules>
            <name>No_Open_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenOpp.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intro_Screen</targetReference>
            </connector>
            <label>No Open Opp</label>
        </rules>
    </decisions>
    <description>2/14/26 - KRG - Created for the new Salesprocess.</description>
    <environments>Default</environments>
    <interviewLabel>Account - Create Opportunity Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create Opportunity Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpp</name>
        <label>CreateOpp</label>
        <locationX>776</locationX>
        <locationY>722</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Getaccountinfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authority__c</field>
            <value>
                <elementReference>Authority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need__c</field>
            <value>
                <elementReference>Need</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timing__c</field>
            <value>
                <elementReference>Timing</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getaccountinfo</name>
        <label>Getaccountinfo</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getcontactinfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getcontactinfo</name>
        <label>Getcontactinfo</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenOppCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenOpp</name>
        <label>GetOpenOpp</label>
        <locationX>520</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getaccountinfo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>776</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOpp</targetReference>
        </connector>
        <fields>
            <name>Displayaccountname</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Getaccountinfo.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intro_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intro_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>BantFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please review the following BANT Fields&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intro_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intro_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Budget</name>
                    <dataType>String</dataType>
                    <fieldText>Budget</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Authority</name>
                    <dataType>String</dataType>
                    <fieldText>Authority</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Need</name>
                    <dataType>String</dataType>
                    <fieldText>Need</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Timing</name>
                    <dataType>String</dataType>
                    <fieldText>Timing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Opportunity_Found</name>
        <label>Open Opportunity Found</label>
        <locationX>512</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AnOpenOppHasBeenFound</name>
            <fieldText>&lt;p&gt;An open Opportunity has been found on this account. Please check that before opening a new one. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Getaccountinfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
