force-app/main/default/flows/Add_QuoteLineItem_to_Quote_Techvera_Lifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that creates a quote.</description>
        <name>InvokePlaceSalesTransactionApi</name>
        <label>Invoke Place Sales Transaction API</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>placeSalesTransaction</actionName>
        <actionType>placeSalesTransaction</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessageAssignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>graph</name>
            <value>
                <elementReference>placeSalesTransactionGraph</elementReference>
            </value>
        </inputParameters>
        <nameSegment>placeSalesTransaction</nameSegment>
        <outputParameters>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorResponse</assignToReference>
            <name>errorResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Handle the runtime exception while calling the Place Sales Transaction invocable action.</description>
        <name>ErrorMessageAssignment</name>
        <label>Error Message Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Handle the null Product Selling Model Id error assignment.</description>
        <name>NullProductSellingModelErrorAssignment</name>
        <label>Null Product Selling Model Error Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullProductSellingModelIdErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Populates Quote Line fields based on a Annual Billing Frequency.</description>
        <name>Set_Annual_Revenue_Variables</name>
        <label>Set Annual Revenue Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalChargeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBaseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRecurringAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmAnnualMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRevenueCalculationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalUpForRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCustomQLBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStartDateandPeriodBoundaryVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Quote Line&apos;s default Billing Schedule value.</description>
        <name>Set_Billing_Schedule_from_Metadata</name>
        <label>Set Billing Schedule from Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalBillingSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Schedule_Mapping.Billing_Schedule_Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingScheduleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Derived</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQuoteLineItemRecordStandardReferenceVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If no Billing Schedule value is found, set the Status.</description>
        <name>Set_Billing_Schedule_Status</name>
        <label>Set Billing Schedule Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalBillingScheduleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetQuoteLineItemRecordStandardReferenceVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates Quote Line fields based on a Monthly Billing Frequency.</description>
        <name>Set_Monthly_Revenue_Variables</name>
        <label>Set Monthly Revenue Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalChargeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBaseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRecurringAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmMonthlyARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRevenueCalculationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalUpForRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCustomQLBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStartDateandPeriodBoundaryVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates Quote Line&apos;s values based on One-Time Products fields.</description>
        <name>Set_One_Time_Revenue_Variables</name>
        <label>Set One-Time Revenue Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalChargeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upfront</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBaseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRevenueCalculationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalUpForRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalNextRenewalDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCustomQLBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upfront</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStartDateandPeriodBoundaryVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates Quote Line fields based on a Quarterly Billing Frequency.</description>
        <name>Set_Quarterly_Revenue_Variables</name>
        <label>Set Quarterly Revenue Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalChargeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBaseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmQuarterlyARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmQuarterlyMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRevenueCalculationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalUpForRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCustomQLBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStartDateandPeriodBoundaryVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the default fields on the quote line by the corresponding Quote and Product fields (if not blank). This element is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>Set_Quote_Line_Default_Variables</name>
        <label>Set Quote Line Default Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteIdRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteIdRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntryRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PricebookEntryId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntryRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookNameRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookNameRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalChargeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Default_Charge_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Default_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalSubscriptionTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Default_Subscription_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalBillingScheduleStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmBaseAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRevenueCalculationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalLegacy</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalDoesAutomaticallyRenew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.DoesAutomaticallyRenew__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalNextRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalUpForRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFinalHardwareProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Hardware_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalPartnerSubscriptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Partner_Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalProductFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalDetailedLineDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalCustomQLBillingFrequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Default_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Billing_Schedule_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the custom fields for the quoteLineItemRecordReference apex-defined variable.</description>
        <name>Set_Quote_Line_Item_Record_Custom_Reference_Variables</name>
        <label>Set Quote Line Item Record Custom Reference Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>chargeTypeRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingscheduleRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingschedulestatusRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recurringamountRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MRRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DeltaARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>onetimeamountRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelinelegacyRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelinerevenuecalculationstatusRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>doesAutomaticallyRenewRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hardwareproductRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>renewalDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nextRenewalDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>renewalAmountARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>upForRenewalAmountARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelinepartnersubscriptionsRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelineProductTypeRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelineProductFamilyRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quotelineDetailedLineDescriptionRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customQLbillingFrequencyRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetPlaceSalesTransactionGraphVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets custom fields on the quote line by populating the record map wrappers. This element is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>Set_Quote_Line_Wrapper_Custom_Fields</name>
        <label>Set Quote Line Wrapper Custom Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>chargeTypeRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Charge_Type__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>chargeTypeRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalChargeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingscheduleRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing_Schedule__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingscheduleRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalBillingSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingschedulestatusRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing_Schedule_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingschedulestatusRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalBillingScheduleStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingDateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalBillingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringamountRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring_Amount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringamountRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRecurringAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MRR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeltaARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delta_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeltaARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalDeltaARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onetimeamountRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_Time_Amount__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onetimeamountRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalOneTimeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinelegacyRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legacy__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinelegacyRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalLegacy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinerevenuecalculationstatusRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue_Calculation_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinerevenuecalculationstatusRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRevenueCalculationStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesAutomaticallyRenewRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DoesAutomaticallyRenew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>doesAutomaticallyRenewRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalDoesAutomaticallyRenew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>renewalDateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>renewalDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextRenewalDateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next_Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextRenewalDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalNextRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>renewalAmountARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal_Amount_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>renewalAmountARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalRenewalAmountARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>upForRenewalAmountARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Up_For_Renewal_Amount_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>upForRenewalAmountARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalUpForRenewalAmountARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hardwareproductRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Product__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hardwareproductRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarFinalHardwareProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinepartnersubscriptionsRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner_Subscriptions__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelinepartnersubscriptionsRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalPartnerSubscriptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineProductTypeRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product_Type__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineProductTypeRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalProductType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineProductFamilyRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product_Family__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineProductFamilyRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalProductFamily</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineDetailedLineDescriptionRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Detailed_Line_Description__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotelineDetailedLineDescriptionRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalDetailedLineDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Line_Item_Record_Custom_Reference_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal_Date_Variables</name>
        <label>Set Renewal Date Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalNextRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Line_Wrapper_Custom_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the EndDate, SubscriptionTerm fields on the quote line item record for term-defined products.</description>
        <name>Set_Term_Defined_Variables</name>
        <label>Set Term-Defined Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFinalEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCalculatedEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EndDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>endDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionTermRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SubscriptionTerm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionTermRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalSubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>subscriptionTermRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Renew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the error message from the Place Sales Transaction invocable action.</description>
        <name>SetErrorMessage</name>
        <label>Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1.message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the values for the placeSalesTransactionGraph apex-defined variable.</description>
        <name>SetPlaceSalesTransactionGraphVariables</name>
        <label>Set Place Sales Transaction Graph Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>placeSalesTransactionGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>placeSalesTransactionGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>placeSalesTransactionGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteLineRecordReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvokePlaceSalesTransactionApi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets priceBookId to the ID of the price book for the opportunity related to the quote in the Quote from Get Quote variable.</description>
        <name>SetPriceBookToOpportunityPriceBook</name>
        <label>Set Price Book to Opportunity Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets priceBookId to the ID of the price book for the quote in the Quote from Get Quote variable.</description>
        <name>SetPriceBookToQuotePriceBook</name>
        <label>Set Price Book to Quote Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pricebookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the fields on the quote by populating the record map wrappers. This element is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>SetQuoteFields</name>
        <label>Set Quote Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteIdRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteIdRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntryRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PricebookEntryId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntryRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quantityRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookNameRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricebook2Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookNameRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legacyRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legacy__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>legacyRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>revenuecalculationstatusRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue_Calculation_Status__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>revenuecalculationstatusRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Calculated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalDeltaARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Delta_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalDeltaARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMRRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_MRR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMRRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onetimetotalRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_Time_Total__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>onetimetotalRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringtotalRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring_Total__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringtotalRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hardwareorderRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hardware_Order__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hardwareorderRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRenewalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Renewal_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRenewalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalUpForRenewalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Up_For_Renewal_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalUpForRenewalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotedoesautomaticallyrenewRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DoesAutomaticallyRenew__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quotedoesautomaticallyrenewRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoterenewaldateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoterenewaldateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoterenewaldateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next_Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoterenewaldateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>containspartnersubscriptionsRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contains_Partner_Subscriptions__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>containspartnersubscriptionsRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToStreetRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingStreet__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToStreetRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.BillingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToCityRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToCityRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.BillingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToStateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingState__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToStateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.BillingState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToPostalCodeRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingPostalCode__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToStateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.BillingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToCountryRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingCountry__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billToCountryRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.BillingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToStreetRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingStreet__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToStreetRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.ShippingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToCityRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToCityRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.ShippingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToStateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingState__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToStateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.ShippingState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToPostalCodeRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingPostalCode__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToPostalCodeRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.ShippingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToCountryRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ShippingCountry__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipToCountryRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.ShippingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Line_Default_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the standard fields for the quoteLineItemRecordReference apex-defined variable.</description>
        <name>SetQuoteLineItemRecordStandardReferenceVariables</name>
        <label>Set Quote Line Item Record Standard Reference Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteIdRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pricebookEntryRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quantityRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pricebookNameRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Product_s_Default_Billing_Frequency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the start date and period boundary fields on the quote line item record for evergreen products.</description>
        <name>SetStartDateandPeriodBoundaryVariables</name>
        <label>Set Start Date and Period Boundary Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>startDateRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StartDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>startDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>periodBoundaryRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PeriodBoundary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>periodBoundaryRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>periodBoundaryRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingFrequencyRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingFrequency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>billingFrequencyRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinalBillingFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLineRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>billingFrequencyRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customQLbillingFrequencyRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BillingFrequency__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customQLbillingFrequencyRecordMapWrapper.obj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varFinalCustomQLBillingFrequency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Term_Defined</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether a Billing Schedule mapping exists.</description>
        <name>Billing_Schedule_Mapping_Found</name>
        <label>Billing Schedule Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_Schedule_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Mapping Found</defaultConnectorLabel>
        <rules>
            <name>Mapping_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Schedule_Mapping.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Schedule_from_Metadata</targetReference>
            </connector>
            <label>Mapping Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identifies if Quote Line qualifies for Auto-Renew.</description>
        <name>Is_Auto_Renew</name>
        <label>Is Auto-Renew?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Line_Wrapper_Custom_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFinalDoesAutomaticallyRenew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Renewal_Date_Variables</targetReference>
            </connector>
            <label>Auto-Renew?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the product selling method type matches &apos;TermDefined&apos;.</description>
        <name>Is_Term_Defined</name>
        <label>Is Term-Defined?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Auto_Renew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Term_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductSellingModel.SellingModelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TermDefined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Term_Defined_Variables</targetReference>
            </connector>
            <label>Term-Defined</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if input productSellingModelId is null</description>
        <name>IsProductSellingModelIdNull</name>
        <label>Is Product Selling Model Id Null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productSellingModelID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullProductSellingModelErrorAssignment</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Handle the output from Place Sales Transaction.</description>
        <name>Result</name>
        <label>Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which price book is stored for the quote. Checks if the price book is referenced on the quote in the Quote from Get Quote variable, if there’s a price book referenced on the opportunity related to the record in the Quote from Get Quote variable, or there isn’t a price book referenced on either the quote or the opportunity.</description>
        <name>SetWhichPriceBook</name>
        <label>Set Which PriceBook?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetStandardPriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <rules>
            <name>HasQuotePriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPriceBookToQuotePriceBook</targetReference>
            </connector>
            <label>Quote Price Book</label>
        </rules>
        <rules>
            <name>HasOpportunityPriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPriceBookToOpportunityPriceBook</targetReference>
            </connector>
            <label>Opportunity Price Book</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Product&apos;s default Billing Frequency is: Monthly, Quarterly, Annual, or Upfront (One-Time).</description>
        <name>What_is_the_Product_s_Default_Billing_Frequency</name>
        <label>What is the Product&apos;s Default Billing Frequency?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_One_Time_Revenue_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-Time</defaultConnectorLabel>
        <rules>
            <name>Is_Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct.Default_Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Monthly_Revenue_Variables</targetReference>
            </connector>
            <label>Is Monthly</label>
        </rules>
        <rules>
            <name>Is_Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct.Default_Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quarterly_Revenue_Variables</targetReference>
            </connector>
            <label>Is Quarterly</label>
        </rules>
        <rules>
            <name>Is_Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct.Default_Billing_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Annual_Revenue_Variables</targetReference>
            </connector>
            <label>Is Annual</label>
        </rules>
    </decisions>
    <description>Adds Techvera Product Quote Lines to a Quote</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate current date, the format is yyyy-mm-dd. If no StartDate input, the CurrentStartDate will be used in QuoteLineItem.</description>
        <name>CurrentStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(Year({!$Flow.CurrentDate})) + &quot;-&quot; + TEXT(Month({!$Flow.CurrentDate})) + &quot;-&quot; + TEXT(Day({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>frmAnnualMRR</name>
        <dataType>Currency</dataType>
        <expression>{!varFinalARR}/12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmBaseAmount</name>
        <dataType>Currency</dataType>
        <expression>{!GetPriceBookEntry.UnitPrice}*{!quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmCalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!varFinalStartDate}),
  MONTH({!varFinalStartDate}) + {!varFinalSubscriptionTerm},
  DAY({!varFinalStartDate})
) - 1</expression>
    </formulas>
    <formulas>
        <name>frmMonthlyARR</name>
        <dataType>Currency</dataType>
        <expression>{!varFinalRecurringAmount}*12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmQuarterlyARR</name>
        <dataType>Currency</dataType>
        <expression>{!varFinalRecurringAmount}*4</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmQuarterlyMRR</name>
        <dataType>Currency</dataType>
        <expression>{!varFinalARR}/12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add QuoteLineItem to Quote - Techvera Lifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add QuoteLineItem to Quote - Techvera Lifecycle</label>
    <loops>
        <description>Loop through all error responses.</description>
        <name>Loop1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>errorResponse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetErrorMessage</targetReference>
        </nextValueConnector>
    </loops>
    <overriddenFlow>quotingAI__addQuoteLineItemToQuote</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Billing Schedule metadata record. Stores the value in the custom Billing Schedule metadata type from Get Billing Schedule variable.</description>
        <name>Get_Billing_Schedule_Mapping</name>
        <label>Get Billing Schedule Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Schedule_Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinalChargeType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinalBillingFrequency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinalSubscriptionTerm</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Default_Billing_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFinalCustomQLBillingFrequency</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Schedule_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the price book entry with a price book ID that matches the PriceBookId variable, a product ID that matches the productId variable, and a product selling model ID that matches the ID in the Product Selling Model from Get Default Product Selling Model variable. Stores the result in the Price Book Entry from Get Price Book Entry variable.</description>
        <name>GetPriceBookEntry</name>
        <label>Get Price Book Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetQuoteFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductSellingModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductSellingModel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the product record with an ID that matches the productId passed into the flow. Stores the value in the Product from Get Product variable.</description>
        <name>GetProduct</name>
        <label>Get Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductSellingModel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the product selling model with an ID that matches the ID in the Product Selling Model Option from Get Default Product Selling Model Option variable. Stores the result in the Product Selling Model from Get Default Product Selling Model variable.</description>
        <name>GetProductSellingModel</name>
        <label>Get Product Selling Model</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productSellingModelID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductSellingModel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the quote record with an ID that matches the quoteId passed into the flow. Stores the result in the Quote from Get Quote variable.</description>
        <name>GetQuote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetWhichPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the standard price book. The flow uses the standard price book when the quote or opportunity doesn&apos;t have a related price book. Stores the ID of the PriceBookId variable.</description>
        <name>GetStandardPriceBook</name>
        <label>Get Standard Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsProductSellingModelIdNull</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>ARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Billing_Date__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billingDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Billing Frequency for subscription products (Evergreen or Term-Defined Product Selling Model)</description>
        <name>billingFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.BillingFrequency field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billingFrequencyRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Charge_Type__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billingscheduleRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Billing_Schedule_Status__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billingschedulestatusRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.BillingCity__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billToCityRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.BillingCountry__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billToCountryRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.BillingPostalCode__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billToPostalCodeRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.BillingState__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billToStateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.BillingStreet__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>billToStreetRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Charge_Type__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>chargeTypeRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Contains_Partner_Subscriptions__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>containspartnersubscriptionsRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The custom Billing Frequency setup for Techvera and not controlled by RLM.</description>
        <name>customQLBillingFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the custom QuoteLineItem.BillingFrequency field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>customQLbillingFrequencyRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Delta_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>DeltaARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.doesAutomaticallyRenew field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>doesAutomaticallyRenewRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The endDate, needed only for term-defined products. The format must be yyyy-mm-dd.</description>
        <name>endDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.EndDate field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>endDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Provides an error message if applicable.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>An apex defined type that contains a list of errors with errorMessage, referenceId, and errorCode</description>
        <name>errorResponse</name>
        <apexClass>RevSalesTrxn__PlaceSalesTransactionErrorResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.NEO_Hardware_Order__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>hardwareorderRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Hardware_Product__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>hardwareproductRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates success or failure.</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Legacy__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>legacyRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.MRR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>MRRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Next_Renewal_Date__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>nextRenewalDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error message thrown when productSellingModelId is null.</description>
        <name>nullProductSellingModelIdErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Product Selling Model Id is required but was not provided.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.One_Time_Amount__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>onetimeamountRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.One_Time_Total__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>onetimetotalRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.PeriodBoundary field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>periodBoundaryRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores values for the Graph Apex-defined type that’s used as an input for the PlaceSalesTransaction invocable action.</description>
        <name>placeSalesTransactionGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.PricebookEntry field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>pricebookEntryRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the price book record that’s used to add a quote line item to the quote. If a price book isn’t specified on the quote or the opportunity, then the flow uses the standard pricebook as a default.</description>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Pricebook2Id field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>pricebookNameRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the product that’s passed into the flow.</description>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Product2 field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>productRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The default ProductSellingModel ID associated with the product being added to the quote.</description>
        <name>productSellingModelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the quantity of the product that’s passed into the flow and added to the quote line item. If no quantity is specified, the flow uses the default of 1.</description>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.PricebookEntry field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quantityRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.doesAutomaticallyRenew__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotedoesautomaticallyrenewRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the quote record that’s passed into the flow.</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.QuoteId field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quoteIdRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Detailed_Line_Description__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelineDetailedLineDescriptionRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Legacy__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelinelegacyRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Partner_Subscriptions__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelinepartnersubscriptionsRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Product_Family__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelineProductFamilyRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Product_Type__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelineProductTypeRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote line item that this flow creates. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quoteLineRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Revenue_Calculation_Status__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotelinerevenuecalculationstatusRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Next_Renewal_Date__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quotenextrenewaldateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote that this flow modifies. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Renewal_Date_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>quoterenewaldateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Recurring_Amount__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>recurringamountRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Recurring_Total__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>recurringtotalRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Renewal_Amount__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>renewalAmountARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Renewal_Date__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>renewalDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Revenue_Calculation_Status__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>revenuecalculationstatusRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.ShippingCity_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>shipToCityRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.ShippingCountry_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>shipToCountryRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.ShippingPostalCode_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>shipToPostalCodeRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.ShippingState_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>shipToStateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.ShippingStreet_c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>shipToStreetRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the startDate for subscription products passed into the flow. Default value is the current start date. Optional user input.</description>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CurrentStartDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.StartDate field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>startDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.SubscriptionTerm field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>subscriptionTermRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Total_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>totalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Total_Delta_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>totalDeltaARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Total_MRR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>totalMRRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Total_Renewal_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>totalRenewalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the Quote.Total_Up_For_Renewal_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>totalUpForRenewalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record map wrapper Apex-defined type that specifies the QuoteLineItem.Up_For_Renewal_Amount_ARR__c field name (key) and value (object) for the quote. This variable is used to construct the Graph Apex-defined type input for the PlaceSalesTransaction invocable action.</description>
        <name>upForRenewalAmountARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalBillingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalBillingFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalBillingSchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalBillingScheduleStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Not associated with RLM&apos;s Billing Frequency.</description>
        <name>varFinalCustomQLBillingFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalDeltaARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalDetailedLineDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalDoesAutomaticallyRenew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFinalHardwareOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFinalHardwareProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalLegacy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalNextRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalOneTimeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalPartnerSubscriptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalQuoteAutomaticallyRenew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalRecurringAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalRenewalAmountARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varFinalRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalRevenueCalculationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalSubscriptionTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varFinalUpForRenewalAmountARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
