force-app/main/default/flows/After_Save_Quote_Line_Item_Safe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Mapping_Found</name>
        <label>Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Schedule_Map_mdt.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets Billing Schedule fields</description>
    <environments>Default</environments>
    <interviewLabel>After_Save_Quote_Line_Item_Safe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After_Save_Quote_Line_Item_Safe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Schedule_Map_mdt</name>
        <label>Get Billing Schedule Map mdt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Default_Charge_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default_Billing_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Default_Billing_Frequency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Default_Subscription_Term__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Schedule_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billing_Schedule</name>
        <label>Update Billing Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Billing_Schedule_Status__c</field>
            <value>
                <stringValue>Derived</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>Get_Billing_Schedule_Map_mdt.Billing_Schedule_Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Default_Charge_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriptionTerm</field>
            <value>
                <elementReference>Get_Billing_Schedule_Map_mdt.Subscription_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Billing_Schedule_Map_mdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PricebookEntryId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
