force-app/main/default/flows/Contact_Create_Opportunity_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Check_for_Existing_Opp</name>
        <label>Check for Existing Opp</label>
        <locationX>325</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>Intro_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Opp_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenOpps.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenOppFoundError</targetReference>
            </connector>
            <label>Open Opp Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Found</name>
        <label>Contact Found</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NoContactFoundError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contact found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactInfo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenOpps</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <description>4/7/25 KRG - Created to create opportunities off of the Contact.</description>
    <environments>Default</environments>
    <formulas>
        <name>oppNameFormula</name>
        <dataType>String</dataType>
        <expression>{!GetContactInfo.Account.Name} &amp; &quot; - &quot; &amp; TEXT(MONTH(TODAY())) &amp; &quot;/&quot; &amp; TEXT(DAY(TODAY())) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>setoppclosedate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Contact: Create Opportunity Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Create Opportunity Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Opp</name>
        <label>Create new Opp</label>
        <locationX>215</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetContactInfo.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authority__c</field>
            <value>
                <elementReference>Authority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>BANTBudget</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>setoppclosedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Date__c</field>
            <value>
                <elementReference>MQL_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need__c</field>
            <value>
                <elementReference>Need</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>GetContactInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SQL_Date__c</field>
            <value>
                <elementReference>SQL_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timing__c</field>
            <value>
                <elementReference>Timing</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>799</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenOpps</name>
        <label>GetOpenOpps</label>
        <locationX>347</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactInfo.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>215</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_Opp</targetReference>
        </connector>
        <fields>
            <name>AccountNAme</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!GetContactInfo.Account.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intro_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intro_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayuMQLDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;MQL Date:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetContactInfo.MQL_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MQL_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>GetContactInfo.MQL_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>MQL Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intro_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SQLDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SQL Date:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!GetContactInfo.SQL_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SQL_Date</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>GetContactInfo.SQL_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>SQL Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intro_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiscoveryCompletedDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Discovery Completed Date:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!GetContactInfo.Discovery_Completed__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>InstructionsBANT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please review the following BANT Fields:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BANTBudget</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactInfo.Account.Budget__c</elementReference>
            </defaultValue>
            <fieldText>Budget</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Authority</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactInfo.Account.Authority__c</elementReference>
            </defaultValue>
            <fieldText>Authority</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Need</name>
            <dataType>String</dataType>
            <fieldText>Need</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Timing</name>
            <dataType>String</dataType>
            <fieldText>Timing</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoContactFoundError</name>
        <label>NoContactFoundError</label>
        <locationX>743</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContactFoundErrorMessage</name>
            <fieldText>&lt;p&gt;Failed to find the contact record. Please open a ticket with RevOps to get assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpenOppFoundError</name>
        <label>OpenOppFoundError</label>
        <locationX>479</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpenOppFoundErrorMessage</name>
            <fieldText>&lt;p&gt;An open Opportunity exists on this account. Please update that open Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>215</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreen1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Succes! An Opportunity has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetContactInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
