force-app/main/default/flows/Create_Orders_from_Quote_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create orders from quote using the specified parameters.</description>
        <name>Create_Orders_From_Quote</name>
        <label>Create Orders From Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createOrdersFromQuote</actionName>
        <actionType>createOrdersFromQuote</actionType>
        <connector>
            <targetReference>Order_IDs_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Messages</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCreationMethod</name>
            <value>
                <elementReference>MethodPicker.selectedOrderCreationMethod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderCreationParameters</name>
            <value>
                <elementReference>MethodPicker.orderCreationParameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrdersFromQuote</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Create orders from quote using a transfer quote</description>
        <name>Create_Orders_From_Tfr_Quote</name>
        <label>Create Orders From Transfer Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createOrdersFromQuote</actionName>
        <actionType>createOrdersFromQuote</actionType>
        <connector>
            <targetReference>Transfer_Order_IDs_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Transfer_Quote</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrdersFromQuote</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Error_Message_Transfer_Quote</name>
        <label>Error Message Transfer Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>List of order IDs created.</description>
        <name>Order_IDs_Assignment</name>
        <label>Order IDs Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Orders_From_Quote.orderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Ordered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Messages</name>
        <label>Error Messages</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>List of order IDs created.</description>
        <name>Transfer_Order_IDs_Assignment</name>
        <label>Transfer Order IDs Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Orders_From_Tfr_Quote.orderIds</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Error_message</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>If the quote has an OriginalActionType of Transfer, call the Create Orders from Transfer Quote action.</description>
        <name>Is_Transfer_Quote</name>
        <label>Is Transfer Quote?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>S01_CreateOrdersScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Original_Action_Type.OriginalActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Orders_From_Tfr_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Orders from Quote Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Orders from Quote Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>&quot;Get the quote&apos;s OriginalActionType value.&quot;</description>
        <name>Get_Quote_Original_Action_Type</name>
        <label>Get Quote Original Action Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transfer_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OriginalActionType</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Quote_Ordered</name>
        <label>Quote Ordered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedQuoteId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>S01_CreateOrdersScreen</name>
        <label>S01_CreateOrdersScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Orders_From_Quote</targetReference>
        </connector>
        <fields>
            <name>ModalHeader</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;Create Order&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MethodPicker</name>
            <extensionName>runtime_rca:orderCreationMethodPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableOrderCreationMethods</name>
                <value>
                    <stringValue>single-order,order-by-group,order-by-field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableSplitFields</name>
                <value>
                    <stringValue>Product2Id,QuoteActionId,StartDate,EndDate,ServiceDate</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>revenue_adv_q2o__CreateOrdersFromQuote</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Original_Action_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>$Label.CreateOrdersFromQuote.Variable_ErrorMessages_Description</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>$Label.CreateOrdersFromQuote.Variable_QuoteId_Description</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
