force-app/main/default/flows/Currency_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <constants>
        <name>CA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada</stringValue>
        </value>
    </constants>
    <constants>
        <name>CAD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canadian Dollar</stringValue>
        </value>
    </constants>
    <constants>
        <name>GBP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>British pound</stringValue>
        </value>
    </constants>
    <constants>
        <name>UK</name>
        <dataType>String</dataType>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </constants>
    <constants>
        <name>USD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>US Dollar</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Country</name>
        <label>Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>USD_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>United_King</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UK</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBP_Update</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Currency Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Currency Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GBP_Update</name>
        <label>GBP Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>GBP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>CAD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Update</name>
        <label>USD Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>USD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
