force-app/main/default/flows/QA_Contract_Create_Amendment_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Quick Action: Create Amendment Quote from active Contract. Copies all QLIs from original Quote. Quote.SalesTransactionTypeId=Amendment STT. Opportunity.AmendedContract__c links to original.</description>
    <environments>Default</environments>
    <interviewLabel>QA_Contract_Create_Amendment_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QA Contract Create Amendment TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Get_Account</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>recordId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Create_Amendment_Opp</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>Get_Contract.AccountId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_QLIs</name>
        <label>Get Original Quote QLIs</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Loop_QLIs</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value><elementReference>Get_Contract.Quote__c</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordCreates>
        <name>Create_Amendment_Opp</name>
        <label>Create Amendment Opportunity</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>varNewOppId</assignRecordIdToReference>
        <connector><targetReference>Create_Amendment_Quote</targetReference></connector>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>frmOppName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value><elementReference>Get_Contract.AccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value><stringValue>Qualification</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value><elementReference>frmCloseDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Type__c</field>
            <value><stringValue>Amendment</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>AmendedContract__c</field>
            <value><elementReference>recordId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>Get_Contract.OwnerId</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Amendment_Quote</name>
        <label>Create Amendment Quote</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <assignRecordIdToReference>varNewQuoteId</assignRecordIdToReference>
        <connector><targetReference>Get_Original_QLIs</targetReference></connector>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>frmOppName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value><elementReference>varNewOppId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Contract__c</field>
            <value><elementReference>recordId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesTransactionTypeId</field>
            <value><stringValue>1ChaZ000000F63VSAS</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value><stringValue>01sao000003VWRhAAO</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Draft</stringValue></value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Amendment_QLI</name>
        <label>Create Amendment QLI</label>
        <locationX>0</locationX>
        <locationY>600</locationY>
        <connector><targetReference>Loop_QLIs</targetReference></connector>
        <inputAssignments>
            <field>QuoteId</field>
            <value><elementReference>varNewQuoteId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value><elementReference>Loop_QLIs.Product2Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value><elementReference>Loop_QLIs.PricebookEntryId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value><elementReference>Loop_QLIs.Quantity</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value><elementReference>Loop_QLIs.UnitPrice</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value><elementReference>Loop_QLIs.Charge_Type__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingFrequency__c</field>
            <value><elementReference>Loop_QLIs.BillingFrequency__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriptionTerm</field>
            <value><elementReference>Loop_QLIs.SubscriptionTerm</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Subscription__c</field>
            <value><elementReference>Loop_QLIs.Partner_Subscription__c</elementReference></value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <loops>
        <name>Loop_QLIs</name>
        <label>Loop Original QLIs</label>
        <locationX>0</locationX>
        <locationY>500</locationY>
        <collectionReference>Get_Original_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Create_Amendment_QLI</targetReference></nextValueConnector>
        <noMoreValuesConnector><targetReference>Done_Screen</targetReference></noMoreValuesConnector>
    </loops>
    <screens>
        <name>Done_Screen</name>
        <label>Amendment Created</label>
        <locationX>0</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;Amendment Quote and Opportunity created successfully.&lt;/p&gt;&lt;p&gt;All line items copied from the original Quote. Modify as needed for the amendment.&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Contract</targetReference></connector>
    </start>
    <status>Active</status>
    <formulas>
        <name>frmOppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name} &amp; " Amendment " &amp; TEXT(MONTH({!frmCloseDate})) &amp; "/" &amp; TEXT(YEAR({!frmCloseDate}))</expression>
    </formulas>
    <formulas>
        <name>frmCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 14</expression>
    </formulas>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
