force-app/main/default/flows/RTF_QuoteLineItem_AfterSave_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Should_Run_Context</name>
        <label>Should Run Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Log_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShouldRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Main_Automation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Router flow for QuoteLineItem. Calls SUB_Evaluate_Automation_Context_TV then SUB_QuoteLineItem_Main_Automation_TV when context allows. Passes inIsNewRecord so the main subflow can gate create-only vs update-only field assignments.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmIsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record__Prior.Id})</expression>
    </formulas>
    <interviewLabel>RTF_QuoteLineItem_AfterSave_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF QuoteLineItem AfterSave TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <subflows>
        <name>Call_Main_Automation</name>
        <label>Call Main Automation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rollup_Quote_Revenue</targetReference>
        </connector>
        <flowName>SUB_QuoteLineItem_Main_Automation_TV</flowName>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inIsNewRecord</name>
            <value>
                <elementReference>frmIsNewRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Eval_Context</name>
        <label>Evaluate Automation Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run_Context</targetReference>
        </connector>
        <flowName>SUB_Evaluate_Automation_Context_TV</flowName>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inIsHardwareContext</name>
            <value>
                <elementReference>$Record.Hardware_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordIdForLog</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varShouldRun</assignToReference>
            <name>outShouldRun</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStopReason</assignToReference>
            <name>outStopReason</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCorrelationId</assignToReference>
            <name>outCorrelationId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Log_Main_Invoked</name>
        <label>Log Main Invoked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>RUN_MAIN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>RTF_QuoteLineItem_AfterSave_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <stringValue>Main automation subflow SUB_QuoteLineItem_Main_Automation_TV invoked.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Skipped</name>
        <label>Log Skipped</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>SKIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>RTF_QuoteLineItem_AfterSave_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <elementReference>varStopReason</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Rollup_Quote_Revenue</name>
        <label>Rollup Quote Revenue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Main_Invoked</targetReference>
        </connector>
        <flowName>SUB_Quote_Rollup_Revenue_TV</flowName>
        <inputAssignments>
            <name>inQuoteId</name>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Eval_Context</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShouldRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStopReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
