force-app/main/default/flows/RTF_Quote_AfterSave_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Should_Run_Automation</name>
        <label>Should Run Automation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Log_Skipped_Due_To_Toggle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Run_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Call_Evaluate_Automation_Context.outShouldRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Create_Event</targetReference>
            </connector>
            <label>Run Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Event</name>
        <label>Is Create Event?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Create</defaultConnectorLabel>
        <rules>
            <name>Create_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Create Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Quote_Update</name>
        <label>Needs Quote Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Changes</defaultConnectorLabel>
        <rules>
            <name>Update_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Commercial_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Sale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legacy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.BillingStreet__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.BillingPostalCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.BillingCountry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.ShippingStreet__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.ShippingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.ShippingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.ShippingState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.ShippingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.ShippingPostalCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.ShippingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.ShippingCountry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >Get_Account.ShippingCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Fields</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <description
  >Record-triggered Quote router flow for v1 defaults and account address carry-over.</description>
    <environments>Default</environments>
    <interviewLabel
  >RTF Quote AfterSave TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Quote AfterSave TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Quote_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Fields</name>
        <label>Update Quote Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Action__c</field>
            <value>
                <stringValue>New Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState__c</field>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference
        >Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry__c</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet__c</field>
            <value>
                <elementReference>Get_Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity__c</field>
            <value>
                <elementReference>Get_Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState__c</field>
            <value>
                <elementReference>Get_Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode__c</field>
            <value>
                <elementReference
        >Get_Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry__c</field>
            <value>
                <elementReference>Get_Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Evaluate_Automation_Context</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Evaluate_Automation_Context</name>
        <label>Call Evaluate Automation Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run_Automation</targetReference>
        </connector>
        <flowName>SUB_Evaluate_Automation_Context_TV</flowName>
        <inputAssignments>
            <name>inIsHardwareContext</name>
            <value>
                <elementReference>$Record.Hardware_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordIdForLog</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_Skipped_Due_To_Toggle</name>
        <label>Log Skipped Due To Toggle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference
        >Call_Evaluate_Automation_Context.outCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>RTF_Quote_AfterSave_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <elementReference
        >Call_Evaluate_Automation_Context.outStopReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
