force-app/main/default/flows/RTF_Quote_Start_Techvera_Lifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Has_the_Automation_been_Disabled</name>
        <label>Has the Automation been Disabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Create_Orders_Auto_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Toggles_mdt.Disable_RLM_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Automation_Toggles_mdt.Disable_Quote_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
    </decisions>
    <description>Quote Flow to trigger autolaunch flows for RLM billing.</description>
    <environments>Default</environments>
    <interviewLabel>RTF_Quote_Start_Techvera_Lifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Quote Start Techvera Lifecycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Shows if the automations been toggled off.</description>
        <name>Automation_Toggles_mdt</name>
        <label>Automation Toggle Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_Automation_been_Disabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggles__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Toggles_mdt</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Call_Create_Orders_Auto_Flow</name>
        <label>Call Create Orders Auto Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Subflow_for_Order_Items</targetReference>
        </connector>
        <flowName>Auto_Create_Orders_From_Quotes_Techvera_Lifecycle</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Subflow_for_Order_Items</name>
        <label>Call Subflow for Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Sync_OrderItems_From_QuoteLines_Techvera</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
