force-app/main/default/flows/RTF_Quote_AutoOrder_OnAccepted_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Direct path: Quote.Status=Accepted/Approved triggers Order creation. Bypasses Set_Ordered chain.</description>
    <environments>Default</environments>
    <interviewLabel>RTF Quote AutoOrder OnAccepted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Quote AutoOrder OnAccepted TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Create_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>OR(ISPICKVAL({!$Record.Status}, "Accepted"), ISPICKVAL({!$Record.Status}, "Approved"))</filterFormula>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <name>Should_Create_Order</name>
        <label>Should Create Order?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ordered_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Set_Ordered_True</name>
        <label>Set Ordered True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Create_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Ordered__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <subflows>
        <name>Call_Create_Order</name>
        <label>Call Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Quote_Create_Order_TV</flowName>
        <inputAssignments>
            <name>inQuoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <status>Active</status>
</Flow>
