force-app/main/default/flows/RTF_QuoteLineItem_AfterSave_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>Should_Run_Automation</name>
        <label>Should Run Automation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Log_Skipped_Due_To_Toggle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Run_Automation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Call_Evaluate_Automation_Context.outShouldRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Create_Event</targetReference>
            </connector>
            <label>Run Automation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_Event</name>
        <label>Is Create Event?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Create</defaultConnectorLabel>
        <rules>
            <name>Create_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Create Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_QuoteLine_Update</name>
        <label>Needs Quote Line Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Log_Billing_Schedule_TODO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Changes</defaultConnectorLabel>
        <rules>
            <name>Update_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legacy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Default_Start_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Default_Start_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Computed_End_Date</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Hardware_Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Product2.Hardware_Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.DoesAutomaticallyRenew</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Product2.DoesAutomaticallyRenew__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Partner_Subscription__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Product2.Partner_Subscription__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Final_Billing_Frequency</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.SubscriptionTerm</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Final_Subscription_Term</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Charge_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Final_Charge_Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >$Record.Detailed_Line_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Product2.Description</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >$Record.Product2.Techvera_Product_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QuoteLine_Fields</targetReference>
            </connector>
            <label>Update Required</label>
        </rules>
    </decisions>
    <description
  >Record-triggered Quote Line Item router flow for v1 defaults and Product/Quote carry-over.</description>
    <environments>Default</environments>
    <formulas>
        <name>Computed_End_Date</name>
        <dataType>Date</dataType>
        <expression
    >IF({!Final_Charge_Type}=&quot;One-Time&quot;, {!Default_Start_Date}, ADDMONTHS({!Default_Start_Date}, 12))</expression>
    </formulas>
    <formulas>
        <name>Default_Start_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Final_Billing_Frequency</name>
        <dataType>String</dataType>
        <expression
    >IF(NOT(ISBLANK({!Get_Quote.Default_Billing_Frequency__c})), {!Get_Quote.Default_Billing_Frequency__c}, {!$Record.Product2.Default_Billing_Frequency__c})</expression>
    </formulas>
    <formulas>
        <name>Final_Charge_Type</name>
        <dataType>String</dataType>
        <expression
    >IF(NOT(ISBLANK({!Get_Quote.Default_Charge_Type__c})), {!Get_Quote.Default_Charge_Type__c}, {!$Record.Product2.Default_Charge_Type__c})</expression>
    </formulas>
    <formulas>
        <name>Final_Subscription_Term</name>
        <dataType>Number</dataType>
        <expression
    >IF(NOT(ISBLANK({!Get_Quote.Default_Subscription_Term__c})), {!Get_Quote.Default_Subscription_Term__c}, {!$Record.Product2.Default_Subscription_Term__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel
  >RTF QuoteLineItem AfterSave TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF QuoteLineItem AfterSave TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_QuoteLine_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QuoteLine_Fields</name>
        <label>Update QuoteLine Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Billing_Schedule_TODO</targetReference>
        </connector>
        <inputAssignments>
            <field>Legacy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Default_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>Default_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Computed_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hardware_Product__c</field>
            <value>
                <elementReference
        >$Record.Product2.Hardware_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutomaticallyRenew</field>
            <value>
                <elementReference
        >$Record.Product2.DoesAutomaticallyRenew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Subscription__c</field>
            <value>
                <elementReference
        >$Record.Product2.Partner_Subscription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingFrequency__c</field>
            <value>
                <elementReference>Final_Billing_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriptionTerm</field>
            <value>
                <elementReference>Final_Subscription_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>Final_Charge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Line_Description__c</field>
            <value>
                <elementReference
        >$Record.Product2.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference
        >$Record.Product2.Techvera_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Evaluate_Automation_Context</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Evaluate_Automation_Context</name>
        <label>Call Evaluate Automation Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Run_Automation</targetReference>
        </connector>
        <flowName>SUB_Evaluate_Automation_Context_TV</flowName>
        <inputAssignments>
            <name>inIsHardwareContext</name>
            <value>
                <elementReference>$Record.Hardware_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordIdForLog</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_Billing_Schedule_TODO</name>
        <label>Log Billing Schedule TODO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference
        >Call_Evaluate_Automation_Context.outCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>RTF_QuoteLineItem_AfterSave_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <stringValue
        >Billing schedule mapping to Billing_Schedule__c is not implemented in v1.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Log_Skipped_Due_To_Toggle</name>
        <label>Log Skipped Due To Toggle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference
        >Call_Evaluate_Automation_Context.outCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>RTF_QuoteLineItem_AfterSave_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <elementReference
        >Call_Evaluate_Automation_Context.outStopReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>QuoteLineItem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
