force-app/main/default/flows/SUB_Log_Automation_Event_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Debug_Logging_Enabled</name>
        <label>Is Debug Logging Enabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggles.Enable_Debug_Logging__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Log_Level_Allowed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Log_Level_Allowed</name>
        <label>Required Log Level Allowed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Verbose_Allows_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggles.Debug_Log_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VERBOSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Automation_Log</targetReference>
            </connector>
            <label>Verbose Allows All</label>
        </rules>
        <rules>
            <name>Info_Allows_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggles.Debug_Log_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inRequiredLogLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Automation_Log</targetReference>
            </connector>
            <label>Info Allows Info</label>
        </rules>
        <rules>
            <name>Info_Allows_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggles.Debug_Log_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INFO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inRequiredLogLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERROR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Automation_Log</targetReference>
            </connector>
            <label>Info Allows Error</label>
        </rules>
        <rules>
            <name>Error_Allows_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggles.Debug_Log_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERROR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inRequiredLogLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERROR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Automation_Log</targetReference>
            </connector>
            <label>Error Allows Error</label>
        </rules>
    </decisions>
    <description>Admin-first helper subflow that writes Automation_Log__c diagnostics when debug logging and log-level gates allow it.</description>
    <environments>Default</environments>
    <interviewLabel>SUB Log Automation Event TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Log Automation Event TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Automation_Log</name>
        <label>Create Automation Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>inAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correlation_Id__c</field>
            <value>
                <elementReference>inCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_API_Name__c</field>
            <value>
                <elementReference>inFlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>inMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_API_Name__c</field>
            <value>
                <elementReference>inObjectApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Automation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Automation_Toggles</name>
        <label>Get Automation Toggles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Debug_Logging_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggles__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggles</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inFlowApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRequiredLogLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
