force-app/main/default/flows/SUB_Quote_Rollup_Revenue_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Rolls up ARR, MRR, Delta ARR, One-Time Total, Recurring Total, Renewal ARR from all QuoteLineItems to parent Quote.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Quote_Rollup_Revenue_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Quote Rollup Revenue TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <name>Accumulate_Totals</name>
        <label>Accumulate Totals</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>varTotalARR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.ARR__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalMRR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.MRR__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalDeltaARR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.Delta_ARR__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOneTimeTotal</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.One_Time_Amount__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecurringTotal</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.Recurring_Amount__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRenewalARR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.Renewal_Amount_ARR__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalUpForRenewalARR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Quote_Lines.Up_for_Renewal_Amount_ARR__c</elementReference></value>
        </assignmentItems>
        <connector><targetReference>Loop_Quote_Lines</targetReference></connector>
    </assignments>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <collectionReference>Get_All_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Accumulate_Totals</targetReference></nextValueConnector>
        <noMoreValuesConnector><targetReference>Update_Quote_Totals</targetReference></noMoreValuesConnector>
    </loops>
    <recordLookups>
        <name>Get_All_Quote_Lines</name>
        <label>Get All Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Loop_Quote_Lines</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value><elementReference>inQuoteId</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Totals</name>
        <label>Update Quote Totals</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>inQuoteId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Total_ARR__c</field>
            <value><elementReference>varTotalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_MRR__c</field>
            <value><elementReference>varTotalMRR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Delta_ARR__c</field>
            <value><elementReference>varTotalDeltaARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Total__c</field>
            <value><elementReference>varOneTimeTotal</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Total__c</field>
            <value><elementReference>varRecurringTotal</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Renewal_ARR__c</field>
            <value><elementReference>varTotalRenewalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Up_For_Renewal_ARR__c</field>
            <value><elementReference>varTotalUpForRenewalARR</elementReference></value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_All_Quote_Lines</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalMRR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalDeltaARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOneTimeTotal</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecurringTotal</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalRenewalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalUpForRenewalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
