force-app/main/default/flows/SUB_Quote_Rollup_To_Opportunity_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Rolls Quote ARR/MRR/Renewal fields up to the parent Opportunity when Quote is Primary AND Status is Accepted or Approved. Called from SUB_Quote_Main_Automation_TV.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Quote_Rollup_To_Opportunity_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Quote Rollup To Opportunity TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Should_Rollup</name>
        <label>Should Rollup?</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>inIsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Accepted</stringValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>Approved</stringValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Update_Opportunity</targetReference></connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity Rollups</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>inOpportunityId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value><elementReference>inTotalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Amount_ARR__c</field>
            <value><elementReference>inTotalRenewalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Up_for_Renewal_Amount_ARR__c</field>
            <value><elementReference>inTotalUpForRenewalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value><elementReference>inRenewalDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Renewal_Date__c</field>
            <value><elementReference>inNextRenewalDate</elementReference></value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Should_Rollup</targetReference></connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inIsPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inTotalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inTotalRenewalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inTotalUpForRenewalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inNextRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
