force-app/main/default/flows/SUB_Contract_Rollup_To_Account_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Rolls Active Contract ARR/Date totals up to the Account. Called from Contract router on activation.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Contract_Rollup_To_Account_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Contract Rollup To Account TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Contracts</name>
        <label>Get Active Contracts For Account</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Loop_Contracts</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value><elementReference>inAccountId</elementReference></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Activated</stringValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Active Contracts</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <collectionReference>Get_Active_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Accumulate</targetReference></nextValueConnector>
        <noMoreValuesConnector><targetReference>Update_Account</targetReference></noMoreValuesConnector>
    </loops>
    <assignments>
        <name>Accumulate</name>
        <label>Accumulate Totals</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>varTotalARR</assignToReference>
            <operator>Add</operator>
            <value><elementReference>Loop_Contracts.ARR__c</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEarliestEndDate</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>frmEarliestEnd</elementReference></value>
        </assignmentItems>
        <connector><targetReference>Loop_Contracts</targetReference></connector>
    </assignments>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account Rollups</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>inAccountId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Contracted_ARR__c</field>
            <value><elementReference>varTotalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_MRR__c</field>
            <value><elementReference>frmContractedMRR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Account_ARR__c</field>
            <value><elementReference>varTotalARR</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value><elementReference>varEarliestEndDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Renewal_Date_1__c</field>
            <value><elementReference>varEarliestEndDate</elementReference></value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Active_Contracts</targetReference></connector>
    </start>
    <status>Active</status>
    <formulas>
        <name>frmContractedMRR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <expression>{!varTotalARR} / 12</expression>
    </formulas>
    <formulas>
        <name>frmEarliestEnd</name>
        <dataType>Date</dataType>
        <expression>IF(OR(ISBLANK({!varEarliestEndDate}), {!Loop_Contracts.EndDate} &lt; {!varEarliestEndDate}), {!Loop_Contracts.EndDate}, {!varEarliestEndDate})</expression>
    </formulas>
    <variables>
        <name>inAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEarliestEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
