force-app/main/default/flows/SUB_Asset_Main_Automation_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Main automation subflow for Asset — generated from CSV spec. Field updates mapped: 37 (37 create-only, 0 update-only, 0 always). 3 field(s) skipped (no resolvable source reference): OrderProduct__c, Up_for_Renewal_Amount_ARR__c, Subscription_Type__c Admin note: review skipped fields and child-rollup fields manually.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Asset_Main_Automation_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Asset Main Automation TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Triggering_Record</name>
        <label>Get Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record — All Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Main_Subflow_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_Main_Subflow_Execution</name>
        <label>Log Main Subflow Execution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>MAIN_SUBFLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>inCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>SUB_Asset_Main_Automation_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <stringValue>Mapped 37 field(s). 37 create-only, 0 update-only, 0 always. Skipped 3 (no source).</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>inCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inIsNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outRunSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
