force-app/main/default/flows/SUB_QuoteLineItem_Calculate_Revenue_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Calculates ARR, MRR, Delta ARR, One-Time Amount, Recurring Amount, Renewal Amount ARR, Up For Renewal ARR, EndDate, Renewal Date, Next Renewal Date, and Revenue Calculation Status on QuoteLineItem. Called by SUB_QuoteLineItem_Main_Automation_TV.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_QuoteLineItem_Calculate_Revenue_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB QuoteLineItem Calculate Revenue TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>




    <recordLookups>
        <name>Get_Billing_Schedule_Map</name>
        <label>Get Billing Schedule Map</label>
        <locationX>0</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Schedule_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Frequency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inBillingFrequency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inChargeType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inSubscriptionTerm</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Schedule_Map__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Is_One_Time</name>
        <label>Is One-Time Charge?</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>Is_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inChargeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_One_Time_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recurring</name>
        <label>Is Recurring Charge?</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Is_Auto_Renew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inChargeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Renew</name>
        <label>Auto Renews?</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Update_QLI_Revenue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Auto_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inDoesAutoRenew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Renewal_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Schedule_Match</name>
        <label>Has Schedule Match?</label>
        <locationX>0</locationX>
        <locationY>550</locationY>
        <defaultConnector>
            <targetReference>Update_QLI_Schedule_NoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Needs Review</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Schedule_Map.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QLI_Schedule_Matched</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Subscription_Term</name>
        <label>Has Subscription Term?</label>
        <locationX>0</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Should_Set_EndDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Skip Lookup</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inSubscriptionTerm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inSubscriptionTerm</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Schedule_Map</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Set_EndDate</name>
        <label>Should Set EndDate? (create-only)</label>
        <locationX>0</locationX>
        <locationY>750</locationY>
        <defaultConnectorLabel>No - Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Set_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_EndDate_Recurring</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_EndDate_Recurring</name>
        <label>EndDate: Is Recurring?</label>
        <locationX>0</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>Update_EndDate_OneTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - One Time</defaultConnectorLabel>
        <rules>
            <name>Yes_EndDate_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inChargeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EndDate_Recurring</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <assignments>
        <name>Set_One_Time_Amount</name>
        <label>Set One Time Amount</label>
        <locationX>0</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>varOneTimeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Amount</name>
        <label>Set Recurring Amount and MRR/ARR</label>
        <locationX>0</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>varRecurringAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Renew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal_Fields</name>
        <label>Set Renewal Fields</label>
        <locationX>0</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRenewalAmountARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpForRenewalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_QLI_Revenue</targetReference>
        </connector>
    </assignments>
    <recordUpdates>
        <name>Update_QLI_Revenue</name>
        <label>Update QLI Revenue Fields</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Has_Subscription_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>varMRR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>varARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delta_ARR__c</field>
            <value>
                <elementReference>varDeltaARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Amount__c</field>
            <value>
                <elementReference>varOneTimeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Amount__c</field>
            <value>
                <elementReference>varRecurringAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Amount_ARR__c</field>
            <value>
                <elementReference>varRenewalAmountARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Up_for_Renewal_Amount_ARR__c</field>
            <value>
                <elementReference>varUpForRenewalARR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>varRenewalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Renewal_Date__c</field>
            <value>
                <elementReference>varNextRenewalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Calculation_Status__c</field>
            <value>
                <stringValue>Calculated</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QLI_Schedule_Matched</name>
        <label>Update QLI Schedule (Matched)</label>
        <locationX>0</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Should_Set_EndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>Get_Billing_Schedule_Map.Billing_Schedule_Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Schedule_Status__c</field>
            <value>
                <stringValue>Derived</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QLI_Schedule_NoMatch</name>
        <label>Update QLI Schedule (No Match - Custom)</label>
        <locationX>0</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Should_Set_EndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <stringValue>Custom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Schedule_Status__c</field>
            <value>
                <stringValue>Derived</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EndDate_Recurring</name>
        <label>Update EndDate (Recurring: Start + 365)</label>
        <locationX>0</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>frmEndDateRecurring</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EndDate_OneTime</name>
        <label>Update EndDate (One-Time = StartDate)</label>
        <locationX>0</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>inStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_One_Time</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <formulas>
        <name>frmMRR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <expression>IF({!inSubscriptionTerm} > 0, {!inNetTotalPrice} / {!inSubscriptionTerm}, {!inNetTotalPrice} / 12)</expression>
    </formulas>
    <formulas>
        <name>frmARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <expression>{!frmMRR} * 12</expression>
    </formulas>
    <formulas>
        <name>frmRenewalDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!inEndDate})), {!inEndDate} + 1, NULL)</expression>
    </formulas>
    <formulas>
        <name>frmEndDateRecurring</name>
        <dataType>Date</dataType>
        <expression>{!inStartDate} + 365</expression>
    </formulas>
    <variables>
        <name>inRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inTotalPrice</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inNetTotalPrice</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inSubscriptionTerm</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inDoesAutoRenew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMRR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeltaARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOneTimeAmount</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecurringAmount</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRenewalAmountARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpForRenewalARR</name>
        <dataType>Currency</dataType>
        <scale>2</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNextRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inBillingFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
