force-app/main/default/flows/SUB_Order_Create_LineItems_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Loops through Quote QLIs after Order creation. Routes Partner Subs to Partner_Subscription__c records. Routes regular QLIs to OrderItem records. Called from RTF_Order_AfterSave_TV when Order is newly created with no line items.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Order_Create_LineItems_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Order Create LineItems TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QLIs</name>
        <label>Get QuoteLineItems</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Loop_QLIs</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value><elementReference>inQuoteId</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <name>Loop_QLIs</name>
        <label>Loop QLIs</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <collectionReference>Get_QLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector><targetReference>Is_Partner_Sub</targetReference></nextValueConnector>
        
    </loops>
    <decisions>
        <name>Is_Partner_Sub</name>
        <label>Is Partner Subscription?</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <defaultConnector><targetReference>Create_OrderItem</targetReference></defaultConnector>
        <defaultConnectorLabel>No - Create OrderItem</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QLIs.Partner_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector><targetReference>Create_Partner_Sub</targetReference></connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_OrderItem</name>
        <label>Create OrderItem</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <connector><targetReference>Loop_QLIs</targetReference></connector>
        <object>OrderItem</object>
    
    
    
        <inputAssignments>
            <field>OrderId</field>
            <value><elementReference>inOrderId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value><elementReference>Loop_QLIs.PricebookEntryId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value><elementReference>Loop_QLIs.Product2Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value><elementReference>Loop_QLIs.Quantity</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value><elementReference>Loop_QLIs.UnitPrice</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>Loop_QLIs.Description</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Line_Description__c</field>
            <value><elementReference>Loop_QLIs.Detailed_Line_Description__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingFrequency__c</field>
            <value><elementReference>Loop_QLIs.BillingFrequency__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value><elementReference>Loop_QLIs.StartDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value><elementReference>Loop_QLIs.EndDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriptionTerm</field>
            <value><elementReference>Loop_QLIs.SubscriptionTerm</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutomaticallyRenew</field>
            <value><elementReference>Loop_QLIs.DoesAutomaticallyRenew</elementReference></value>
        </inputAssignments>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Sub</name>
        <label>Create Partner Subscription</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <connector><targetReference>Loop_QLIs</targetReference></connector>
        <object>Partner_Subscription__c</object>
    
    
    
        <inputAssignments>
            <field>Account__c</field>
            <value><elementReference>inAccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value><elementReference>inOpportunityId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value><elementReference>inOrderId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value><elementReference>inQuoteId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value><elementReference>Loop_QLIs.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value><elementReference>Loop_QLIs.Product2Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value><elementReference>Loop_QLIs.Quantity</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value><elementReference>Loop_QLIs.UnitPrice</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Price__c</field>
            <value><elementReference>Loop_QLIs.UnitPrice</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Total__c</field>
            <value><elementReference>Loop_QLIs.Recurring_Amount__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value><elementReference>Loop_QLIs.BillingFrequency__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
            <inputAssignments>
            <field>Do_Not_Sync__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_QLIs</targetReference></connector>
    </start>
    <status>Active</status>

    <variables>
        <name>inOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
