force-app/main/default/flows/SUB_Quote_Create_Order_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Creates an Order from the Quote when Ordered__c flips true. Idempotent: skips if Order already exists for this Quote. Called from RTF_Quote_AutoOrder_TV.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Quote_Create_Order_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Quote Create Order TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value><stringValue>AUTO_LAYOUT_CANVAS</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <recordLookups>
        <name>Get_Existing_Order</name>
        <label>Get Existing Order</label>
        <locationX>0</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Has_Existing_Order</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value><elementReference>inQuoteId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector><targetReference>Create_Order</targetReference></connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>inQuoteId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Has_Existing_Order</name>
        <label>Order Already Exists?</label>
        <locationX>0</locationX>
        <locationY>100</locationY>
        <defaultConnector><targetReference>Get_Quote</targetReference></defaultConnector>
        <defaultConnectorLabel>No - Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>300</locationY>
        <assignRecordIdToReference>varNewOrderId</assignRecordIdToReference>
        <connector><targetReference>Call_Create_LineItems</targetReference></connector>
        <inputAssignments>
            <field>QuoteId</field>
            <value><elementReference>inQuoteId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value><elementReference>Get_Quote.AccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value><elementReference>Get_Quote.OpportunityId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Draft</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value><elementReference>Get_Quote.Pricebook2Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value><elementReference>Get_Quote.OwnerId</elementReference></value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <subflows>
        <name>Call_Create_LineItems</name>
        <label>Call Create LineItems</label>
        <locationX>0</locationX>
        <locationY>400</locationY>
        <flowName>SUB_Order_Create_LineItems_TV</flowName>
        <inputAssignments>
            <name>inOrderId</name>
            <value><elementReference>varNewOrderId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inQuoteId</name>
            <value><elementReference>inQuoteId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inAccountId</name>
            <value><elementReference>Get_Quote.AccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inOpportunityId</name>
            <value><elementReference>Get_Quote.OpportunityId</elementReference></value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector><targetReference>Get_Existing_Order</targetReference></connector>
    </start>
    <status>Active</status>

    <variables>
        <name>inQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
