force-app/main/default/flows/SUB_Asset_Main_Automation_TV.flow-meta.xml
<?xml version='1.0' encoding='UTF-8'?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <description>Main automation subflow for Asset — generated from CSV spec. Field updates mapped: 37 (37 create-only, 0 update-only, 0 always). 3 field(s) skipped (no resolvable source reference): OrderProduct__c, Up_for_Renewal_Amount_ARR__c, Subscription_Type__c Admin note: review skipped fields and child-rollup fields manually.</description>
    <interviewLabel>SUB_Asset_Main_Automation_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Asset Main Automation TV</label>
    <recordLookups>
        <name>Get_Triggering_Record</name>
        <label>Get Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLineItem</name>
        <label>Get QuoteLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Create_Or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <decisions>
        <name>Decide_Create_Or_Update</name>
        <label>Create or Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Log_Main_Subflow_Execution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inIsNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Update_Record_Create</name>
        <label>Update Record — Create-Only Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Main_Subflow_Execution</targetReference>
        </connector>
        <inputAssignments>
            <field>Hardware_Order__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Hardware_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutomaticallyRenew</field>
            <value>
                <elementReference>Get_QuoteLineItem.DoesAutomaticallyRenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Legacy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARR_Category__c</field>
            <value>
                <elementReference>Get_Quote.Commercial_Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Charge_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Quote.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Get_Quote.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_QuoteLineItem.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Level_ARR__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>Get_QuoteLineItem.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Get_QuoteLineItem.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Date__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Billing_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriptionTerm</field>
            <value>
                <elementReference>Get_QuoteLineItem.SubscriptionTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Schedule__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Billing_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_QuoteLineItem.Detailed_Line_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Get_QuoteLineItem.QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLine__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedQuoteLineItemId</field>
            <value>
                <elementReference>Get_QuoteLineItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalQuoteLine__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Get_QuoteLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.MRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delta_ARR__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Delta_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Amount_ARR__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Renewal_Amount_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Amount__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Recurring_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue_Calculation_Status__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Revenue_Calculation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Amount__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.One_Time_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Techvera_Product_Type__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetPrice__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.NetUnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Total__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.NetTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalPrice__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalUpliftRate__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.UnitPriceUplift</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalQuantity__c</field>
            <value>
                <elementReference>Get_QuoteLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Term_Implementation__c</field>
            <value>
                <elementReference>Get_Triggering_Record.Subscription_Type__c</elementReference>
            </value>
        </inputAssignments>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
    </recordUpdates>
    <subflows>
        <name>Log_Main_Subflow_Execution</name>
        <label>Log Main Subflow Execution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>MAIN_SUBFLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>inCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>SUB_Asset_Main_Automation_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <stringValue>Mapped 37 field(s). 37 create-only, 0 update-only, 0 always. Skipped 3 (no source).</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inIsNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outRunSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>