force-app/main/default/flows/SUB_Order_Create_Assets_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Create Asset records from OrderItems when Order is activated.</description>
    <environments>Default</environments>
    <interviewLabel>SUB Order Create Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Order Create Assets TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value><elementReference>inOrderId</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <loops>
        <name>Loop_OrderItems</name>
        <label>Loop Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Asset</targetReference>
        </nextValueConnector>
    </loops>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_OrderItems</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value><elementReference>inAccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>Loop_OrderItems.Product2.Name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value><elementReference>Loop_OrderItems.Product2Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value><elementReference>Loop_OrderItems.Quantity</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Price</field>
            <value><elementReference>Loop_OrderItems.UnitPrice</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Active</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value><elementReference>Loop_OrderItems.ServiceDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageEndDate</field>
            <value><elementReference>Loop_OrderItems.EndDate</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value><elementReference>Loop_OrderItems.BillingFrequency__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalTerm</field>
            <value><elementReference>Loop_OrderItems.SubscriptionTerm</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>DoesAutomaticallyRenew</field>
            <value><elementReference>Loop_OrderItems.DoesAutomaticallyRenew</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Line_Description__c</field>
            <value><elementReference>Loop_OrderItems.Detailed_Line_Description__c</elementReference></value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
