force-app/main/default/flows/SUB_Evaluate_Automation_Context_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_Default_Run_Outputs</name>
        <label>Set Default Run Outputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Correlation_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Correlation_Id</name>
        <label>Set Correlation Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outCorrelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeneratedCorrelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Automation_Toggles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stop_Global_Disabled</name>
        <label>Stop Global Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_RLM_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Quote_Disabled</name>
        <label>Stop Quote Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Quote_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_QuoteLine_Disabled</name>
        <label>Stop QuoteLine Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_QuoteLine_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Order_Disabled</name>
        <label>Stop Order Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Order_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_OrderItem_Disabled</name>
        <label>Stop OrderItem Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_OrderItem_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Contract_Disabled</name>
        <label>Stop Contract Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Contract_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Asset_Disabled</name>
        <label>Stop Asset Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Asset_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Account_Disabled</name>
        <label>Stop Account Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Account_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Opportunity_Disabled</name>
        <label>Stop Opportunity Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Disable_Opportunity_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_Quote_Disabled</name>
        <label>Stop Hardware Quote Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_Quote_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_QuoteLine_Disabled</name>
        <label>Stop Hardware QuoteLine Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_QuoteLine_Auto__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_Order_Disabled</name>
        <label>Stop Hardware Order Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_Order_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_OrderItem_Disabled</name>
        <label>Stop Hardware OrderItem Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_OrderItem_Auto__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_Contract_Disabled</name>
        <label>Stop Hardware Contract Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_Contrac_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stop_Hardware_Asset_Disabled</name>
        <label>Stop Hardware Asset Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outShouldRun</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outStopReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >Disable_Hardware_Only_Asset_Automation__c</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Global_Automation_Disabled</name>
        <label>Is Global Automation Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Object_Automation_Disabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_RLM_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Global_Disabled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Automation_Disabled</name>
        <label>Object Automation Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Hardware_Context</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Quote_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Quote_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Quote_Disabled</targetReference>
            </connector>
            <label>Quote Disabled</label>
        </rules>
        <rules>
            <name>QuoteLineItem_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineItem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_QuoteLine_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_QuoteLine_Disabled</targetReference>
            </connector>
            <label>QuoteLineItem Disabled</label>
        </rules>
        <rules>
            <name>Order_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Order_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Order_Disabled</targetReference>
            </connector>
            <label>Order Disabled</label>
        </rules>
        <rules>
            <name>OrderItem_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_OrderItem_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_OrderItem_Disabled</targetReference>
            </connector>
            <label>OrderItem Disabled</label>
        </rules>
        <rules>
            <name>Contract_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Contract_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Contract_Disabled</targetReference>
            </connector>
            <label>Contract Disabled</label>
        </rules>
        <rules>
            <name>Asset_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Asset_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Asset_Disabled</targetReference>
            </connector>
            <label>Asset Disabled</label>
        </rules>
        <rules>
            <name>Account_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Account_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Account_Disabled</targetReference>
            </connector>
            <label>Account Disabled</label>
        </rules>
        <rules>
            <name>Opportunity_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Opportunity_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Opportunity_Disabled</targetReference>
            </connector>
            <label>Opportunity Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hardware_Context</name>
        <label>Is Hardware Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HardwareContext_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inIsHardwareContext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Hardware_Only_Automation_Disabled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardware_Only_Automation_Disabled</name>
        <label>Hardware Only Automation Disabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Hardware_Quote_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_Quote_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Hardware_Quote_Disabled</targetReference>
            </connector>
            <label>Hardware Quote Disabled</label>
        </rules>
        <rules>
            <name>Hardware_QuoteLineItem_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QuoteLineItem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_QuoteLine_Auto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Stop_Hardware_QuoteLine_Disabled</targetReference>
            </connector>
            <label>Hardware QuoteLineItem Disabled</label>
        </rules>
        <rules>
            <name>Hardware_Order_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_Order_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Hardware_Order_Disabled</targetReference>
            </connector>
            <label>Hardware Order Disabled</label>
        </rules>
        <rules>
            <name>Hardware_OrderItem_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_OrderItem_Auto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Stop_Hardware_OrderItem_Disabled</targetReference>
            </connector>
            <label>Hardware OrderItem Disabled</label>
        </rules>
        <rules>
            <name>Hardware_Contract_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_Contrac_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Stop_Hardware_Contract_Disabled</targetReference>
            </connector>
            <label>Hardware Contract Disabled</label>
        </rules>
        <rules>
            <name>Hardware_Asset_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inObjectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Get_Automation_Toggles.Disable_Hardware_Only_Asset_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Hardware_Asset_Disabled</targetReference>
            </connector>
            <label>Hardware Asset Disabled</label>
        </rules>
    </decisions>
    <description
  >Admin-first helper subflow that evaluates automation context toggles and returns shouldRun, stopReason, and correlationId outputs.</description>
    <environments>Default</environments>
    <formulas>
        <name>GeneratedCorrelationId</name>
        <dataType>String</dataType>
        <expression
    >IF(NOT(ISBLANK({!$Flow.InterviewGuid})), {!$Flow.InterviewGuid}, TEXT({!$Flow.CurrentDateTime}) &amp; &quot;-&quot; &amp; {!inRecordIdForLog})</expression>
    </formulas>
    <interviewLabel
  >SUB Evaluate Automation Context TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Evaluate Automation Context TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggles</name>
        <label>Get Automation Toggles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Global_Automation_Disabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggles__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Default_Run_Outputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inIsHardwareContext</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRecordIdForLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outShouldRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outStopReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
