force-app/main/default/flows/SUB_Quote_Main_Automation_TV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Main automation subflow for Quote — generated from CSV spec. Field updates mapped: 13 (13 create-only, 0 update-only, 0 always). 38 field(s) skipped (no resolvable source reference): ContactId, BillToContactId, Pricebook2Id, ContractId, Master_Contract__c, SalesTransactionTypeId, SalesRep__c, Hardware_Quote__c... Admin note: review skipped fields and child-rollup fields manually.</description>
    <environments>Default</environments>
    <interviewLabel>SUB_Quote_Main_Automation_TV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Quote Main Automation TV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>


    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OpportunityContactRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityContactRole</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Record</name>
        <label>Get Triggering Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record — All Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Log_Main_Subflow_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity__c</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry__c</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode__c</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState__c</field>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet__c</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteAccountId</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity__c</field>
            <value>
                <elementReference>Get_Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry__c</field>
            <value>
                <elementReference>Get_Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode__c</field>
            <value>
                <elementReference>Get_Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState__c</field>
            <value>
                <elementReference>Get_Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet__c</field>
            <value>
                <elementReference>Get_Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_OpportunityContactRole.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01sao000003VWRhAAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    <object>Quote</object>
    </recordUpdates>
    <subflows>
        <name>Log_Main_Subflow_Execution</name>
        <label>Log Main Subflow Execution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Log_Automation_Event_TV</flowName>
        <inputAssignments>
            <name>inAction</name>
            <value>
                <stringValue>MAIN_SUBFLOW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>inCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFlowApiName</name>
            <value>
                <stringValue>SUB_Quote_Main_Automation_TV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inObjectApiName</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRecordId</name>
            <value>
                <elementReference>inRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inRequiredLogLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inMessage</name>
            <value>
                <stringValue>Mapped 13 field(s). 13 create-only, 0 update-only, 0 always. Skipped 38 (no source).</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Set_Ordered</name>
        <label>Call Set Ordered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Quote_Set_Ordered_TV</flowName>
        <inputAssignments>
            <name>inRecordId</name>
            <value><elementReference>inRecordId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inStatus</name>
            <value><elementReference>Get_Triggering_Record.Status</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inOrdered</name>
            <value><elementReference>Get_Triggering_Record.Ordered__c</elementReference></value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Call_Rollup_To_Opportunity</name>
        <label>Call Rollup To Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SUB_Quote_Rollup_To_Opportunity_TV</flowName>
        <inputAssignments>
            <name>inOpportunityId</name>
            <value><elementReference>Get_Triggering_Record.OpportunityId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inIsPrimary</name>
            <value><elementReference>Get_Triggering_Record.IsPrimary__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inStatus</name>
            <value><elementReference>Get_Triggering_Record.Status</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inTotalARR</name>
            <value><elementReference>Get_Triggering_Record.Total_ARR__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inTotalRenewalARR</name>
            <value><elementReference>Get_Triggering_Record.Total_Renewal_ARR__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inTotalUpForRenewalARR</name>
            <value><elementReference>Get_Triggering_Record.Total_Up_For_Renewal_ARR__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inRenewalDate</name>
            <value><elementReference>Get_Triggering_Record.Renewal_Date__c</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inNextRenewalDate</name>
            <value><elementReference>Get_Triggering_Record.Next_Renewal_Date__c</elementReference></value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>


    <variables>
        <name>inCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inIsNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outRunSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
