force-app/main/default/flows/Update_Quote_Details_Techvera_Revenue_Rollups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Updates Quote&apos;s Revenue Total Variables with the all the Revenue values from the Quote Lines.</description>
        <name>Add_Quote_Line_Values_to_Totals</name>
        <label>Add Quote Line Values to Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTotalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTotalMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTotalDeltaARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOneTimeTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOneTimeTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecurringTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmRecurringTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRenewalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTotalRenewalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalUpforRenewalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmTotalUpForRenewalARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Auto_Renew_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Quote Revenue Total Variables to 0 for Initial run.</description>
        <name>Initialize_Totals</name>
        <label>Initialize Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalMRR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalDeltaARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOneTimeTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecurringTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalRenewalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalUpforRenewalARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteAutoRenew</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHardwareOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEarliestRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEarliestNextRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarContainsPartnerSubscriptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Auto_Renew</name>
        <label>Set Quote Auto Renew</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQuoteAutoRenew</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Hardware_Product_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Contains_Partner_Subscriptions</name>
        <label>Set Quote Contains Partner Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarContainsPartnerSubscriptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renewal_Date_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Hardware_Order</name>
        <label>Set Quote Hardware Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHardwareOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Partner_Subscription_Checked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Next_Renewal_Date</name>
        <label>Set Quote Next Renewal Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEarliestNextRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Lines.Next_Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Renewal_Date</name>
        <label>Set Quote Renewal Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEarliestRenewalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Lines.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Renewal_Date_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the fault message from InvokePlaceSalesTransaction invocable action.</description>
        <name>SetErrorMessage</name>
        <label>Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverErrors.message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the flow’s fault message and the isSuccess variable to false.</description>
        <name>SetErrorVariables</name>
        <label>Set Error Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the fields and their values for the placeSalesTransactionGraph variable.</description>
        <name>SetPlaceSalesTransactionGraphFields</name>
        <label>Set Place Sales Transaction Graph Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>placeSalesTransactionGraph.records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteRecordReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>placeSalesTransactionGraph.graphId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>placeholder</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsQuoteUpdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the values provided in the input to the quote fields in the quoteRecordReference variable.</description>
        <name>SetQuoteFieldsAndValues</name>
        <label>Set Quote Fields and Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputFieldValue.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverInputFieldValues.key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputFieldValue.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverInputFieldValues.obj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputFieldValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMRRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_MRR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalMRRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalDeltaARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Delta_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalDeltaARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalDeltaARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTimeTotalRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One_Time_Total__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneTimeTotalRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOneTimeTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringTotalRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring_Total__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurringTotalRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarRecurringTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRenewalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Renewal_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalRenewalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalRenewalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalUpForRenewalARRRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total_Up_For_Renewal_ARR__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalUpForRenewalARRRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalUpforRenewalARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAutoRenewRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DoesAutomaticallyRenew__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteAutoRenewRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteAutoRenew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteHardwareOrderRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEO_Hardware_Order__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteHardwareOrderRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHardwareOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRenewalDateRecordMapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRenewalDateRecordMapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEarliestRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRenewalDateRecordMapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Next_Renewal_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteNextRenewalDateRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEarliestNextRenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteContainsPartnerSubscriptionsRecordMapWrapper.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contains_Partner_Subscriptions__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteContainsPartnerSubscriptionsRecordMapWrapper.obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarContainsPartnerSubscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverInputFieldValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the fields and their values for the quoteRecordReference variable.</description>
        <name>SetQuoteRecordReferenceFields</name>
        <label>Set Quote Record Reference Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalMRRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalDeltaARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneTimeTotalRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recurringTotalRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteAutoRenewRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteHardwareOrderRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteNextRenewalDateRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteRenewalDateRecordMapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalRenewalARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalUpForRenewalARRRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteRecordReference.record.fieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteContainsPartnerSubscriptionsRecordMapWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetPlaceSalesTransactionGraphFields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Earliest_Next_Renewal_Date</name>
        <label>Determine Earliest Next Renewal Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Update_Next_Renewal_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEarliestNextRenewalDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Next_Renewal_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varEarliestNextRenewalDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Next_Renewal_Date</targetReference>
            </connector>
            <label>True, Update Next Renewal Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Earliest_Renewal_Date</name>
        <label>Determine Earliest Renewal Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Next_Renewal_Date_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Update_Renewal_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEarliestRenewalDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Renewal_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varEarliestRenewalDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Renewal_Date</targetReference>
            </connector>
            <label>True, Update Renewal Date</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Quote Lines Auto-Renew field.</description>
        <name>Is_Auto_Renew_Checked</name>
        <label>Is Auto Renew Checked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Hardware_Product_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Auto_Renew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.DoesAutomaticallyRenew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Auto_Renew</targetReference>
            </connector>
            <label>Yes, Auto Renew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Hardware_Product_Checked</name>
        <label>Is Hardware Product Checked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Partner_Subscription_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Hardware_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Hardware_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Hardware_Order</targetReference>
            </connector>
            <label>Yes, Hardware Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partner_Subscription_Checked</name>
        <label>Is Partner Subscription Checked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Renewal_Date_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Partner_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Contains_Partner_Subscriptions</targetReference>
            </connector>
            <label>Yes, Partner Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the quote fields are updated with the inputs passed into the flow.</description>
        <name>IsQuoteUpdated</name>
        <label>Is Quote Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateOverErrors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>QuoteUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Renewal_Date_Exists</name>
        <label>Next Renewal Date Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Next_Renewal_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Next_Renewal_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Earliest_Next_Renewal_Date</targetReference>
            </connector>
            <label>Yes, Next Renewal Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Date_Exists</name>
        <label>Renewal Date Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Next_Renewal_Date_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Quote_Lines.Renewal_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Earliest_Renewal_Date</targetReference>
            </connector>
            <label>Yes, Renewal Date</label>
        </rules>
    </decisions>
    <description>Updates the Quote&apos;s Revenue fields such as ARR, MRR, etc after the Quote Lines have been created.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates Quote One Time Total by adding all Quote Line One Time Amounts together.</description>
        <name>frmOneTimeTotal</name>
        <dataType>Currency</dataType>
        <expression>{!varOneTimeTotal}+{!Loop_Through_Quote_Lines.One_Time_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Quote Recurring Total by adding all Quote Line Recurring Amounts together.</description>
        <name>frmRecurringTotal</name>
        <dataType>Currency</dataType>
        <expression>{!VarRecurringTotal}+{!Loop_Through_Quote_Lines.Recurring_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Quote Total ARR by adding all Quote Line ARRs together.</description>
        <name>frmTotalARR</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalARR}+{!Loop_Through_Quote_Lines.ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Quote Total Delta ARR by adding all Quote Line Delta ARRs together.</description>
        <name>frmTotalDeltaARR</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalDeltaARR}+{!Loop_Through_Quote_Lines.Delta_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Quote Total MRR by adding all Quote Line MRRs together.</description>
        <name>frmTotalMRR</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalMRR}+{!Loop_Through_Quote_Lines.MRR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Quote Total Renewal ARR by adding all Quote Line Renewal ARRs together.</description>
        <name>frmTotalRenewalARR</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalRenewalARR}+{!Loop_Through_Quote_Lines.Renewal_Amount_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>frmTotalUpForRenewalARR</name>
        <dataType>Currency</dataType>
        <expression>{!varTotalUpforRenewalARR}+{!Loop_Through_Quote_Lines.Up_for_Renewal_Amount_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Quote Details - Techvera Revenue Rollups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Details - Techvera Revenue Rollups</label>
    <loops>
        <description>Repeats actions for each error record in Error Response from GetErrorResponse record collection.</description>
        <name>IterateOverErrors</name>
        <label>Iterate Over Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>errorResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetErrorMessage</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Repeats actions for each input field value for a quote record in Input Field Values from InputFieldValues record collection.</description>
        <name>IterateOverInputFieldValues</name>
        <label>Iterate Over Input Field Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>inputFieldValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetQuoteFieldsAndValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetQuoteRecordReferenceFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Collect all the related Quote Lines for Revenue Totals calculations.</description>
        <name>Loop_Through_Quote_Lines</name>
        <label>Loop Through Quote Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Quote_Line_Values_to_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterateOverInputFieldValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>quotingAI__updateQuoteDetails</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores the error message that occurs when InvokePlaceSalesTransaction fails and is available as output from the flow.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of Apex error records after InvokePlaceSalesTransaction</description>
        <name>errorResponses</name>
        <apexClass>RevSalesTrxn__PlaceSalesTransactionErrorResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an Apex object that contains the details of the quote field to update and is passed into the flow.</description>
        <name>inputFieldValue</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of Apex objects containing details of the quote fields to be updated and is passed into the flow.</description>
        <name>inputFieldValues</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether InvokePlaceSalesTransaction succeeded.</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote One Time Total modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>oneTimeTotalRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores values for the Graph Apex-defined type that’s used as an input for the InvokePlaceSalesTransaction action.</description>
        <name>placeSalesTransactionGraph</name>
        <apexClass>RevSalesTrxn__Graph</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Auto Renew modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteAutoRenewRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Contains Partner Subscriptions modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteContainsPartnerSubscriptionsRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Hardware Order modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteHardwareOrderRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the quote passed into the flow.</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Next Renewal Date modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteNextRenewalDateRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteRecordReference</name>
        <apexClass>RevSalesTrxn__RecordReference</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Renewal Date modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>quoteRenewalDateRecordMapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Recurring Total modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>recurringTotalRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Total ARR modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>totalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Total Delta ARR modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>totalDeltaARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Total MRR modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>totalMRRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Total Renewal ARR modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>totalRenewalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record reference for the quote Total Up For Renewal ARR modified by this flow. This variable is used to construct the Graph Apex-defined type input for the InvokePlaceSalesTransaction action.</description>
        <name>totalUpForRenewalARRRecordMapWrapper</name>
        <apexClass>RevSalesTrxn__RecordMapWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContainsPartnerSubscriptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEarliestNextRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEarliestRenewalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHardwareOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNullDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOneTimeTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varQuoteAutoRenew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRecurringTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalDeltaARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalRenewalARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varTotalUpforRenewalARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
